# Data types

In [4]:
#Integer

print(1)

print(2+4)  #addition

print(12*3) # Multiplication 

a = 15
type(a)

1
6
36

int

In [2]:
print(1+4)

5

In [3]:
# Float

print(11.5)

x = 55.45

print(x)

type(x)

11.5
55.45

float

In [5]:
# Complex Number

print(2+3j)

type(2+3j)

(2+3j)

complex

In [6]:
# Boolean Type

type(True), type(False)

(bool, bool)

# Operators

## Arithmetic operators

In [7]:
#consider
a = 10
b = 20
a, b

(10, 20)

In [8]:
#Addition
a + b

30

In [9]:
#subtraction
a - b

-10

In [10]:
#Multiplication
a * b

200

In [11]:
#division 
a/b

0.5

In [12]:
# Floor divisions
a//b #it rounds the result(quotient) to nearest integer that is less than the result (0 <0.5)

0

In [13]:
# Remainders
b%a

0

In [14]:
# exponential
a**b

100000000000000000000

## Comparision Operator

In [15]:
#It gives in bool values

a == b , a != b, a > b

(False, True, False)

In [16]:
a < b, a >= b ,a <= b

(True, False, True)

## Assignment Operators

In [17]:
c = a+b

print(c)

c += b  #its nothing but c = c+b
c

30

50

In [18]:
c -= b
c

30

In [19]:
c *= b
c

600

In [20]:
c /= b
c

30.0

In [21]:
c %= b
c

10.0

In [22]:
c **= b
c

1e+20

In [23]:
c //= b
c

5e+18

## Logical Operators

In [24]:
# Logical And -- All the values should be non zero in order to have non zero output
a=3 ; b=2; c=0

a and b, b and c

(2, 0)

In [25]:
# Logical OR -- Any one should be true in order to have non zero output
a=3 ; b=2; c=0

a or b, b or c

(3, 2)

## Membership Operators

In [26]:
# It will check that left value is a member of right value or not 

"y" in "Python" ,      "l" in "Python"

(True, False)

In [27]:
"p" in "Python" ,      "P" not in "python"

(False, True)

## Identity Operators

In [28]:
# It Check will check that left value is equal to the right value or not

"y" is "Python" ,    1 is 1 ,    2 is 1

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-28-2e352b9d2ae5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python" ,    1 is 1 ,    2 is 1
<ipython-input-28-2e352b9d2ae5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python" ,    1 is 1 ,    2 is 1
<ipython-input-28-2e352b9d2ae5>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "y" is "Python" ,    1 is 1 ,    2 is 1

(False, True, False)

In [29]:
"python" is "Python",   1 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-29-b5ac06cf2942>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "Python",   1 is 0
<ipython-input-29-b5ac06cf2942>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "python" is "Python",   1 is 0

(False, False)

In [30]:
1 is not 1,        "hi hello"  is not   "hello hi"

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-30-064a83f69f1d>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1,        "hi hello"  is not   "hello hi"
<ipython-input-30-064a83f69f1d>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 1,        "hi hello"  is not   "hello hi"

(False, True)

# Data Structures

## Arrays/Vectors

In [32]:
# Creating an array
from array import *       #Array is created in Python by importing array module to the python program.

array1 = array('i', [10,20,30,40,50])

print(array1)
for x in array1:
 print(x)

array('i', [10, 20, 30, 40, 50])
10
20
30
40
50

In [33]:
help(array)

Help on class array in module array:

class array(builtins.object)
 |  array(typecode [, initializer]) -> array
 |
 |  Return a new array whose items are restricted by typecode, and
 |  initialized from the optional initializer value, which must be a list,
 |  string or iterable over elements of the appropriate type.
 |
 |  Arrays represent basic values and behave very much like lists, except
 |  the type of objects stored in them is constrained. The type is specified
 |  at object creation time by using a type code, which is a single character.
 |  The following type codes are defined:
 |
 |      Type code   C Type             Minimum size in bytes
 |      'b'         signed integer     1
 |      'B'         unsigned integer   1
 |      'u'         Unicode character  2 (see note)
 |      'h'         signed integer     2
 |      'H'         unsigned integer   2
 |      'i'         signed integer     2
 |      'I'         unsigned integer   2
 |      'l'         signed integer     4
 |      'L'         unsigned integer   4
 |      'q'         signed integer     8 (see note)
 |      'Q'         unsigned integer   8 (see note)
 |      'f'         floating point     4
 |      'd'         floating point     8
 |
 |  NOTE: The 'u' typecode corresponds to Python's unicode character. On
 |  narrow builds this is 2-bytes on wide builds this is 4-bytes.
 |
 |  NOTE: The 'q' and 'Q' type codes are only available if the platform
 |  C compiler used to build Python supports 'long long', or, on Windows,
 |  '__int64'.
 |
 |  Methods:
 |
 |  append() -- append a new item to the end of the array
 |  buffer_info() -- return information giving the current memory info
 |  byteswap() -- byteswap all the items of the array
 |  count() -- return number of occurrences of an object
 |  extend() -- extend array by appending multiple elements from an iterable
 |  fromfile() -- read items from a file object
 |  fromlist() -- append items from the list
 |  frombytes() -- append items from the string
 |  index() -- return index of first occurrence of an object
 |  insert() -- insert a new item into the array at a provided position
 |  pop() -- remove and return item (default last)
 |  remove() -- remove first occurrence of an object
 |  reverse() -- reverse the order of the items in the array
 |  tofile() -- write all items to a file object
 |  tolist() -- return the array converted to an ordinary list
 |  tobytes() -- return the array converted to a string
 |
 |  Attributes:
 |
 |  typecode -- the typecode character used to create the array
 |  itemsize -- the length in bytes of one array item
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __copy__(self, /)
 |      Return a copy of the array.
 |
 |  __deepcopy__(self, unused, /)
 |      Return a copy of the array.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce_ex__(self, value, /)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Size of the array in memory, in bytes.
 |
 |  append(self, v, /)
 |      Append new value v to the end of the array.
 |
 |  buffer_info(self, /)
 |      Return a tuple (address, length) giving the current memory address and the length in items of the buffer used to hold array's contents.
 |
 |      The length should be multiplied by the itemsize attribute to calculate
 |      the buffer length in bytes.
 |
 |  byteswap(self, /)
 |      Byteswap all items of the array.
 |
 |      If the items in the array are not 1, 2, 4, or 8 bytes in size, RuntimeError is
 |      raised.
 |
 |  count(self, v, /)
 |      Return number of occurrences of v in the array.
 |
 |  extend(self, bb, /)
 |      Append items to the end of the array.
 |
 |  frombytes(self, buffer, /)
 |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
 |
 |  fromfile(self, f, n, /)
 |      Read n objects from the file object f and append them to the end of the array.
 |
 |  fromlist(self, list, /)
 |      Append items to array from list.
 |
 |  fromstring(self, buffer, /)
 |      Appends items from the string, interpreting it as an array of machine values, as if it had been read from a file using the fromfile() method).
 |
 |      This method is deprecated. Use frombytes instead.
 |
 |  fromunicode(self, ustr, /)
 |      Extends this array with data from the unicode string ustr.
 |
 |      The array must be a unicode type array; otherwise a ValueError is raised.
 |      Use array.frombytes(ustr.encode(...)) to append Unicode data to an array of
 |      some other type.
 |
 |  index(self, v, /)
 |      Return index of first occurrence of v in the array.
 |
 |  insert(self, i, v, /)
 |      Insert a new item v into the array before position i.
 |
 |  pop(self, i=-1, /)
 |      Return the i-th element and delete it from the array.
 |
 |      i defaults to -1.
 |
 |  remove(self, v, /)
 |      Remove the first occurrence of v in the array.
 |
 |  reverse(self, /)
 |      Reverse the order of the items in the array.
 |
 |  tobytes(self, /)
 |      Convert the array to an array of machine values and return the bytes representation.
 |
 |  tofile(self, f, /)
 |      Write all items (as machine values) to the file object f.
 |
 |  tolist(self, /)
 |      Convert array to an ordinary list with the same items.
 |
 |  tostring(self, /)
 |      Convert the array to an array of machine values and return the bytes representation.
 |
 |      This method is deprecated. Use tobytes instead.
 |
 |  tounicode(self, /)
 |      Extends this array with data from the unicode string ustr.
 |
 |      Convert the array to a unicode string.  The array must be a unicode type array;
 |      otherwise a ValueError is raised.  Use array.tobytes().decode() to obtain a
 |      unicode string from an array of some other type.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  itemsize
 |      the size, in bytes, of one array item
 |
 |  typecode
 |      the typecode character used to create the array
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [34]:
# insert operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.insert(1,60) #inserting the data at specified location

In [35]:
for x in array1:
 print(x)

10
60
20
30
40
50

In [36]:
# Deletion operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1.remove(40) #deleting data we want

for x in array1:
 print(x)

10
20
30
50

In [37]:
# Update operation
from array import *

array1 = array('i', [10,20,30,40,50])

array1[2] = 80 #updating

for x in array1:
 print(x)

10
20
80
40
50

## 2D Arrays

In [39]:
#Accessing Values in a Two Dimensional Array
#The data elements in two dimesnional arrays can be accessed using two indices. 
#One index referring to the main or parent array and another index referring to 
#the position of the data element in the inner array. 
#If we mention only one index then the entire inner array is printed for that index position.

from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]] # 2D array

print(T[0])

print(T[1][2])

[11, 12, 5, 2]
10

In [40]:
# Inserting Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T.insert(2, [0,5,11,13,6]) #inserting at index=2

T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2],
 [15, 6, 10],
 [0, 5, 11, 13, 6],
 [10, 8, 12, 5],
 [12, 15, 8, 6]]

In [41]:
# Updating Values in Two Dimensional Array
from array import *

T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

T[2] = [11,9] #updating element (row) at index=2
T[0][3] = 7 #updating element in first row, 4th column
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 7], [15, 6, 10], [11, 9], [12, 15, 8, 6]]

In [42]:
# Deleting the Values in Two Dimensional Array
from array import *
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]
print(T)

del T[3] # deleting at index=3
T

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

[[11, 12, 5, 2], [15, 6, 10], [10, 8, 12, 5]]

## Matrix
Matrix is a special case of two dimensional array where each data element is of strictly same size. So every matrix is also a two dimensional array but not vice versa. Matrices are very important data structures for many mathematical and scientific calculations.

In [43]:
# Matrix Example
from numpy import * 
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
m = reshape(a,(7,5)) #dimentisions of matrix aka rows*columns
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [44]:
# Accessing Values in a Matrix
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
# Print data for Wednesday
print(m[2])

# Print data for friday evening
print(m[4][3])

['Wed' '15' '21' '20' '19']
23

In [45]:
# Adding the data
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])
    
m_r = append(m,[['Avg',12,15,13,11]],0) #adding by using append at the end .(0-- row)

m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1) #adding by using insert at required location .(1-- column)
# print(m)
print(m_r)
print('***********')
print(m_c)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '13' '11']]
***********
[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

In [47]:
# Delete from matrix
from numpy import * 
m = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
           ['Wed',15,21,20,19],['Thu',11,20,22,21],
           ['Fri',18,17,23,22],['Sat',12,22,20,18],
           ['Sun',13,15,19,16]])

print(m) #original matrix
print('********************')
    
m = delete(m,[2],0) #deleting row at index=2
print(m)
print('***********')
m = delete(m,[2],1) #deleting column at index=2
m

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
********************
[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]
***********

array([['Mon', '18', '22', '17'],
       ['Tue', '11', '21', '18'],
       ['Thu', '11', '22', '21'],
       ['Fri', '18', '23', '22'],
       ['Sat', '12', '20', '18'],
       ['Sun', '13', '19', '16']], dtype='<U3')

## Lists

In [48]:
###############################   List   ################################

# A list data type is given in square brackets and each element is separated by comma.
 
list1 = ['Nikhil', '360DigiTMG', 2013, 2018]
list1

['Nikhil', '360DigiTMG', 2013, 2018]

In [49]:
# Access values in the variable using index numbers
  
print(list1[0])

print(list1[3])

print(list1[:4])

Nikhil
2018
['Nikhil', '360DigiTMG', 2013, 2018]

In [56]:
#functions in list data type

# Append : add a new element to the existing list

aList = [123, 'xyz', 'zara', 'abc'];
aList.append([2009, 'sharat']);
print(aList)

[123, 'xyz', 'zara', 'abc', [2009, 'sharat']]

In [51]:
#Pop : remove the elment from existing list
print (aList.pop())

2009

In [52]:
# pop the element using index number
print (aList.pop(0))

123

In [53]:
#Insert: insert a value using index number 
aList = [123, 'xyz', 'tommy', 'abc', 123]
aList.insert(3, 2009)
print (aList)

[123, 'xyz', 'tommy', 2009, 'abc', 123]

In [54]:
#Extend: extend the two list one after another 
aList = [123, 'xyz', 'tommy', 'abc', 123]
bList = [2009, 'beneli']
aList.extend(bList)
bList.extend(aList)
aList, bList

([123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'],
 [2009, 'beneli', 123, 'xyz', 'tommy', 'abc', 123, 2009, 'beneli'])

In [57]:
#Reverse: to reverse the given list 
aList = [123, 'xyz', 'tommy', 'abc', 342]
print(aList)
aList.reverse()
print("*************")
print(aList)

[123, 'xyz', 'tommy', 'abc', 342]
*************
[342, 'abc', 'tommy', 'xyz', 123]

In [58]:
#Sort: sort the given list from ascending or descending

blist = [8,99,45,33]
blist.sort(reverse=True)
print(blist)

[99, 45, 33, 8]

In [59]:
#count: count the value in given list of elements

aList = [123, 'xyz', 'zara', 'abc', 123, "zara"]
print(aList.count("zara"))

2

In [ ]:
type(aList)

## Tuples

In [60]:
################################### Tuples ####################################


## Create a tuple dataset
tup1 = ('Street triple','Detona','Beneli', 8055)
tup2 = (1, 2, 3, 4, 5 )
print(tup1)
print(tup2)

### Create a empty tuple 
tup1 = ()
print(tup1)

#Create a single tuple
tup1 = (50,)
tup1

('Street triple', 'Detona', 'Beneli', 8055)
(1, 2, 3, 4, 5)
()

(50,)

In [61]:
type(tup1)

tuple

In [62]:
#Accessing Values in Tuples

tup1 = ('Street triple','Detona','Beneli', 8055)
print(tup1[0])

tup2 = (1, 2, 3, 4, 5, 6, 7 )
print(tup2[1:5])

Street triple
(2, 3, 4, 5)

In [63]:
# Updating Tuples
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

# So,create a new tuple as follows
tup1 = tup1 + tup2
print(tup1)

(12, 34.56, 'abc', 'xyz')

In [64]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
print(tup)

('Street triple', 'Detona', 'Beneli', 8055)

In [65]:
#Delete Tuple Elements
tup = ('Street triple','Detona','Beneli', 8055)
del tup[1] # We cannot delete individual items of tuple as it is immutable.
print(tup)

TypeError: 'tuple' object doesn't support item deletion

In [66]:
# to delete the given tuple 
del(tup)

## Sets

In [69]:
# Sets and Frozen Sets
# A normal Set
normal_set = set(["a", "b","c"]) 
normal_set.add("d") 
  
print("Normal Set") 
print(normal_set)

Normal Set
{'d', 'a', 'c', 'b'}

In [70]:
# A frozen set 
frozen_set = frozenset(["e", "f", "g"]) 

print("Frozen Set") 
print(frozen_set)

Frozen Set
frozenset({'f', 'g', 'e'})

In [71]:
# adding a member to set in frozen set and should throw an error
frozen_set.add("h")

AttributeError: 'frozenset' object has no attribute 'add'

In [72]:
# Set Operations 

# Let us create sets 
set1 = set() # Null Set
set2 = set() # Null Set
print(set1,set2)

# Adding elements to set1 
for i in range(1, 10): 
    set1.add(i) 

set1

set() set()

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
#Adding elements to set2

for i in range(3, 10): 
    set2.add(i) 
set2

{3, 4, 5, 6, 7, 8, 9}

In [74]:
# Union of set1 and set2 
# Uninon shows all the values in set1 ans set2
set3 = set1 | set2 # set1.union(set2) 
print("Union of Set1 & Set2: Set3 = ", set3) 

# Intersection of set1 and set2 
# Intersection shows common values in set1 and set2 
set4 = set1 & set2# set1.intersection(set2) 
print("Intersection of Set1 & Set2: Set4 = ", set4)

Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5, 6, 7, 8, 9}

In [75]:
# Lets us check is there any relationship between set3 and set4
# Checking relation between set3 and set4 
if set3 > set4: # set3.issuperset(set4) 
    print("Set3 is superset of Set4") 
elif set3 < set4: # set3.issubset(set4) 
    print("Set3 is subset of Set4") 
else : # set3 == set4 
    print("Set3 is same as Set4")

Set3 is superset of Set4

In [76]:
# displaying relation between set4 and set3 
if set4 < set3: # set4.issubset(set3)
    print("\n")
    print("Set4 is subset of Set3") 
    print("\n")

Set4 is subset of Set3

In [77]:
# difference between set3 and set4 
set5 = set3 - set4 
print("Elements in Set3 and not in Set4: Set5 = ", set5) 
print("\n")

Elements in Set3 and not in Set4: Set5 =  {1, 2}

In [78]:
# check if set4 and set5 are disjoint sets 
if set4.isdisjoint(set5): 
    print("Set4 and Set5 have nothing in common\n")

Set4 and Set5 have nothing in common

In [79]:
# Removing all the values of set5 
set5.clear() 
  
print("After applying clear on sets Set5: ") 
print("Set5 = ", set5)

After applying clear on sets Set5:
Set5 =  set()

## Strings

In [80]:
####### Strings ############


#Accesing Value in Strings   
Name = "Aditya"
  
print(Name[0])

print(Name[3])

print(Name[1:4])

print(Name[-2])

print(Name[-3:-1])

A
t
dit
y
ty

In [81]:
#Update Strings    
var = 'Hello World!  '
print ("Updated String :- ", var + 'Python')
print ("Updated String :- ", var[:6] + 'Python')

Updated String :-  Hello World!  Python
Updated String :-  Hello Python

In [82]:
# String Formating 
print("My name is %s and weight is %d kgs!" % ('Nikhil', 65))

My name is Nikhil and weight is 65 kgs!

In [84]:
#Ex :1 

Name = input("Enter your name: ")
Weight = eval(input("Enter your Weight: "))
print("My name is %s and my Weight is %d" %(Name,Weight))

type(Weight)

Enter your name: sharat
Enter your Weight: 20
My name is sharat and my Weight is 20

int

In [ ]:
#Triple Quotes


# my name is 'nikhil' and my age is '25'

Statement = """my name is "nikhil" and my age is "25"."""
type(Statement)

In [85]:
Name = "nikhil"
print(type(Name))

# To make first letter capital
print(Name.capitalize())
print(Name.upper())

<class 'str'>
Nikhil
NIKHIL

In [86]:
# To make string at center in given spaces
Name.center(50)

'                      nikhil                      '

In [87]:
#count() method returns the number of occurrences of the substring in the given string.
string = "nikhil is trainer"

substring = "i"

count = string.count(substring)
count

print("The count is:", count)

The count is: 4

In [88]:
#Count number of occurrences of a given substring using start and end
# define string
string = "nikhil is trainer"
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)
count
# print count
print("The count is:", count)

The count is: 1

In [90]:
##Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

Num = 'thishi34';  # No space in this string
type(Num)
print(Num.isalnum())

Num = "this is string examplehi!!!";
Num.isalnum()

True

False

In [91]:
#This method returns true if all characters in the string are alphabetic and there is at least one character, false otherwise.
Num = "thisis";  # No space & digit in this string
print(Num.isalpha())

Num = "this is string example0909090!!!";
Num.isalpha()

True

False

In [92]:
#This method returns true if all characters in the string are digits and there is at least one character, false otherwise.

Num = "123456";  # Only digit in this string
print(type(Num))
print(Num.isdigit())

Num = "this is string example!!!";
Num.isdigit()

<class 'str'>
True

False

In [93]:
#This method returns a copy of the string in which all case-based characters have been lowercased.
Num = "THIS IS STRING EXAMPLE!!!";
A = Num.lower()
A

'this is string example!!!'

In [94]:
#This method returns a copy of the string in which all case-based characters have been Uppercase.
Num = "this is string example!!!";

Num.upper()

'THIS IS STRING EXAMPLE!!!'

In [95]:
#The following example shows the usage of replace() method.

reply = "it is string example!!! is really a string is is is is "
print(reply.replace("is", "was"))
print(reply.replace("is", "was", 3))

it was string example!!! was really a string was was was was
it was string example!!! was really a string was is is is

In [96]:
#The following example shows the usage of split() method.
split1 = "Line1-abcdef \nLine2-abc \nLine3-abcd";
print(split1.split( ))
print(split1.split(' ', 1 ))

['Line1-abcdef', 'Line2-abc', 'Line3-abcd']
['Line1-abcdef', '\nLine2-abc \nLine3-abcd']

## Dictionary

In [97]:
#Accessing Values in Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}
print(dict1)
print(dict1['Name'])
print(dict1['Age'])

{'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}
Nikhil
25

In [98]:
##Updating Dictionary
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# update existing entry
dict1['Age'] = 27
# Add new entry
dict1

{'Name': 'Nikhil', 'Age': 27, 'bike': 'Beneli'}

In [99]:
dict1['School'] = "DPS School"
dict1['sal'] = 50000

dict1

{'Name': 'Nikhil',
 'Age': 27,
 'bike': 'Beneli',
 'School': 'DPS School',
 'sal': 50000}

In [100]:
#Delete Dictionary Elements
dict1 = {'Name': 'Nikhil', 'Age': 25, 'bike': 'Beneli'}

# remove entry with key 'Name'
del(dict1['Name'])
dict1

{'Age': 25, 'bike': 'Beneli'}

In [103]:
# remove all entries in given dictionary
dict1.clear()
dict1

NameError: name 'dict1' is not defined

In [102]:
# delete entire dictionary
del(dict1) ;       
dict1

NameError: name 'dict1' is not defined

# Conditional Statements

In [104]:
################################### Conditional Statement ###########################################

# Example:1 - simple if and else conditions when you have  two  conditions
is_male = True

if is_male:
    print("you are male")
else:
    print("you are female")

you are male

In [105]:
# Example: 2 - if you have more than two condition use elif 
is_male = True
is_tall = False

if is_male and is_tall:              ## and & not operator 
    print("you are tall male")
elif is_male and not(is_tall):
    print("you are short male")
elif not(is_male) and is_tall:
    print("you are not male but tall")
else:
    print("you are not male and not tall")

you are short male

In [108]:
#Example:  3 - conditional inside a conditional 
### Nested if Statement

score = 500
money = 5001
age = 25

if score > 100:
    print("You score good points")
    
    if money >= 5000:
        print("you win")
        
        if age >= 30:
            print("You win in middle age")
        else:
            print("You win in young age")
    else:
        print("you have a high points but you do not have enough money")
        
else:
    print("your loser")

You score good points
you win
You win in young age

# Loops

In [ ]:
############################################# Loops ######################################################

# There are two loops pre-loop and post-loop: pre-loop - checking the condition and calculating next, post-loop  calculating first and checking the condition
# There are two types of loops - infinite loop and finite loop, infinite loop is called while loop and finite loop is called  for loop

## While Loop

In [111]:
random.random()

0.015763728465539528

In [113]:
# While Loop

# Example for 'While loop'

import random 

n = 20

random_number = int(n * random.random())
print(random_number)

guess = 0

while guess != random_number:
    guess = int(input("New Number: "))
    if guess > 0:
        if guess > random_number:
            print("number is too large")
        elif guess < random_number:
            print("number is too small")
    else:
        print("sorry that you are giveup!")
        break
else:
    print("Congratulations. YOU WON!")

17
New Number: 8
number is too small
New Number: 0
sorry that you are giveup!

## While-else
### If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

In [114]:

count = 0
while count < 5:
   print (count, " is  less than 5")
   count = count + 1
else:
   print (count, " is not less than 5")

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

## for loop

In [117]:
# for Loop
    
#Example for 'for loop' 

#Example : 1
    
snacks = ['pizza','burger','shawarma','franky']

for snack in snacks:
    print("current snack: ", snack)

print("Good day!")

current snack:  pizza
current snack:  burger
current snack:  shawarma
current snack:  franky
Good day!

In [120]:
#Example: 2

num = int(input("number: "))
factorial = 1 

if num < 0:
    print("must be positive")
elif num == 0:
    print("factorial = 1")
else:
    for i in range(1,num+1):
        factorial = factorial * i
    print("factorial =  " , factorial)

number: 4
factorial =   24

## For-else
### If the else statement is used with a for loop, the else block is executed only if for loops terminates normally (and not by encountering break statement)

In [121]:
# Example
numbers = [11,33,55,39,55,75,37,21,23,41,13]

for num in numbers:
   if num%2 == 0:
      print ('the list contains an even number')
      break
else:
   print ('the list doesnot contain even number')

the list doesnot contain even number

## Iterators
Iterator is an object which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation.

In [ ]:
iterable_value = 'Machine Learning'
iterable_obj = iter(iterable_value) 
  
while True: 
    try: 
  
        # Iterate by calling next 
        item = next(iterable_obj) 
        print(item) 
    except StopIteration: 
  
        # exception will happen when iteration will over 
        break

## Generator
A generator is a function that produces or yields a sequence of values using yield method.

When a generator function is called, it returns a generator object without even beginning execution of the function. When the next() method is called for the first time, the function starts executing until it reaches the yield statement, which returns the yielded value. The yield keeps track i.e. remembers the last execution and the second next() call continues from previous value.

In [ ]:
# A simple generator for Fibonacci Numbers 
def fib(limit): 
      
    # Initialize first two Fibonacci Numbers  
    a, b = 0, 1
  
    # One by one yield next Fibonacci Number 
    while a < limit: 
        yield a 
        a, b = b, a + b 

# create a generator object 
x = fib(5) 
  
# Iterating over the generator object using next 
while True:
   try:
      print (next(x), end="\n")
   except StopIteration:
      break

# Functions

In [ ]:
############################### define function #########################################

#Example for advantage of functions 
    
#Imagine there are 1000 of code is created based on requirement without using functions 
# If same requirement is repeated in the same code as given below with reference of line numbers
print("Hello Function.nikhil?") #10
print("Hello Function.nikhil?") #14
print("Hello Function.nikhil?") #40
print("Hello Function.nikhil?") #67

In [ ]:
# how to create function? 
def hello_func():
    print("Hello Function.nikhil")

# call the function as and when required than writing whole code again 
hello_func() #10
hello_func() #14
hello_func() #40
hello_func() #67

# Advantages about functions - optimize code, good performance, fast, easy to access etc

In [ ]:
# simple function 
def hello(name,age,sal):                 
    print("hi",name,"your age:",age,"your salary:",sal)

hello("Nikhil",25,50000)

In [ ]:
# formal and actual arguments #

# function defination #
def add(a,b):
    return a+b
# funtion call#
add(2,3)
# Formal arguments are identifiers used in the function definition to represent corresponding actual arguments.
# Actual arguments are values(or variables)/expressions that are used inside the parentheses of a function call.

In [ ]:
# positional arguments #

def rectangleArea(width, height):
    return width * height

print (rectangleArea(width=1, height=2))

# A positional argument is a name that is not followed by an equal sign (=) and default value.

In [ ]:
# keyword arguments #
# in this argument key=value syntax
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

# in this keys are child1,child2,child3
# The phrase Keyword Arguments are often shortened to kwargs in Python documentations.

In [ ]:
# variable arguments
# *args for variable number of arguments 
def myFun(*argv):  
    for arg in argv:  
        print (arg) 
    
myFun('Hello', 'Welcome', 'to', '360digitmg')  


#First argument through *argv : Hello
#Next argument through *argv : Welcome
#Next argument through *argv : to
#Next argument through *argv : 360digitmg

In [ ]:
# Using **kwargs to pass the variable keyword arguments to the function 
# in this function kwargs=data
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

In [ ]:
# cube of n value 
def cube(num):                  
    return (num*num*num)

cube(3)

In [ ]:
# not defined any value but just defined function 
def hello_func():              
    pass

## Function call stack
### locals(), globals()

In [ ]:
age = 23 #Age Global variable
name = "Somesh" # Name Global Variable
places = ["Nagpur", "Mumbai", "Pune"] #Places Global Variable

def local(): #Function declaration  
    age = 1 #Age Local Variable
    name = 'Aayush' # Name Local Variable
    print("%s is %i years old and lives in %s." % (name, age, places[0])) #Function Definition for Local Variable
    #In the Above line of code name and age variables are Local and place is Global Variable 
    return

local() #Function calls Local() Variables
print("##############")

print("%s is %i years old and lives in %s." % (name, age, places[2])) #Calling Definition for Global Variable
#In the Above line of code name,age and place are Global Variables

# Modules

In [ ]:
################ Modules ######################

# Modules are also called as packages 
# how to call package is : Import package_name
    
#Example:1

#maths related package
import math

math.sqrt(16), math.pow(2,5)

In [ ]:
#Example:2

#calendar related package 
import calendar 

cal = calendar.month(2018,1)

print(cal)


calendar.isleap(2018), calendar.isleap(2020)

### How to create own module?

In [ ]:

# create a new python file "find_area.py"with different fuctions as given below
#
# def cal_area_triangle(length,hight):
#    return 1/2*length*hight

# def cal_area_sqr(length):
#    return length*length


# def cal_area_rec(leng,bth):
#    return leng*bth

# def cal_area_cir(r):
#    return 3.14*r*r

#Please find above code in different python file

### Importing function from another file

In [ ]:
#to give path for the module
import sys
sys.path.append("C:\\Users\\asus\\Python Basics_notebooks")

#call module and use functions
import find_area as f

area = f.cal_area_sqr(5)
print(area)

In [ ]:
area = f.cal_area_triangle(5,11)
print(area)

In [ ]:
# 1. Importing from folder 
#There are generally two types of import syntax. When you use the first one, you import the resource directly, like this:
"import abc"  #abc can be a package or a module.
import math

#When you use the second syntax, you import the resource from another package or module. Heres an example:
"from abc import xyz " #xyz can be a module, subpackage, or object, such as a class or function.
from math import cos

#You can also choose to rename an imported resource, like so:
"import abc as Other_name"
import math as m

###  Folders vs Packages

In [ ]:

# 1. A module is a file containing Python code. A package, however, is like a directory that holds sub-packages and modules.
# 2. A package must hold the file __init__.py. This does not apply to modules.
# 3. To import everything from a module, we use the wildcard *. But this does not work with packages.

In [ ]:
# How all() works for dictionaries

s = {0: 'False', 1: 'False'}
print(all(s))

s = {1: 'True', 2: 'True'}
print(all(s))

s = {1: 'True', False: 0}
print(all(s))

In [ ]:
#import *
from math import *
# it ensures that everything that are present in math is imported and ready to use

### Recursive Import

In [ ]:
# WE define 2 modules a and b.. such that both will import one in other.. a import b and b import a.

#b.py
'''
print ("b in")
import a
print ("b out")
x = 3
'''

#a.py:

print ("a in")
import sys
print ("b imported: %s" % ("b" in sys.modules, ))
import b
print ("a out")

# File Handling

In [ ]:
# file handling #
# the open function takes two parameters filename and model #

# there are 4 different methods for opening a file #
# "r" - reads a default value
# "a" - opens the file for append  and creates a file if it doesnot exist
# "w"-write- opens a file for writing
# "x"- creates a file 

# syntax #
# to open a file or read a file 

f = open("demofile.txt") 
f

In [ ]:
# open files from different location #
f = open("D:/demofile.txt", "r")
print(f.read()) # reads content in the file

In [ ]:
f = open("demofile.txt") 
f.read(5) #reads first 5 characters

In [ ]:
# write to an existing file #
f = open("demofile.txt", "a")
f.write("Now the file has more content!")
f.close()

f = open("demofile.txt", "r")
f.read() #observe one extra line is added

In [ ]:
# creating a new file #
f = open("D:/myfile1.txt", "x")
f.write(' New file')
f.close()
f=open('D:/myfile1.txt','r')
f.read()
f.close()

In [ ]:
#Delete a File
#To delete a file, you must import the OS module, and run its os.remove() function:
import os
os.remove("D:/myfile1.txt")

# Exception Handling

In [ ]:
# try: and except: are key words for exceptional handling, try: provide the code ; except: except the error with a proper statement

#Ex - 1:
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x+y
    print(results)
except:
    print("please enter a valid number")

In [ ]:
#Ex - 2: 
try:
    x = eval(input("enter the 1st value = "))
    y = eval(input("enter the 2nd value = "))
    results = x/y
    print("final results = ", results)
except(ZeroDivisionError):
    print("please enter a non-zero value for the divisor")
except(NameError):
    print("Please enter valid number")
except(TypeError):
    print("Please enter both same type")

In [ ]:
##In Python, keywords else and finally can also be used along with the try and except clauses. While the except block is executed
##if the exception occurs inside the try block, the else block gets processed if the try block is found to be exception free.
try:
    print("try block")
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

### Built-in Exceptions

In [ ]:
## There are plenty of built-in exceptions in Python that are raised when corresponding errors occur. 
##We can view all the built-in exceptions using the built-in local() function as follows:
print(dir(locals()['__builtins__']))

### User defined Exceptions

In [ ]:
# User defined Exceptions
x=int(input('enter the number'))
if x < 0:
  raise Exception("Sorry, please enter positive number")
else:
    print('you entered',x)

# Regular Expressions

In [ ]:
#Ex:1  
import re

Nameage = '''Nikhil is 25 and Pavan is 28 and Kaleem is 35 and Ganesh is 16'''

age = re.findall(r'\d{1,3}',Nameage)
names = re.findall(r'[A-Z][a-z]*',Nameage)

agedict = {}

x = 0

for eachname in names:
     agedict[eachname] = age[x]
     x +=1
     
print(agedict)

In [ ]:
#Ex:2

import re

allname = re.findall("name","My name is Nikhil and what is your name")

for name in allname:
    print(name)

In [ ]:
#Ex 3
        
import re

allname = "My name is Nikhil and what is your name"   

for i in re.finditer("name",allname):
    loctup = i.span()
    print(loctup)

In [ ]:
#Ex: 4 Find match pattern
    
import re

names = "Aam,Bam,Sam,Ram,Mam,Jam"

allnames = re.findall("[A-Z]am",names) 

for i in allnames:
    
    print(i)

In [ ]:
#Replace string 

import re 

names = "Sam,Ram,Mam,Jam"

regex =  re.compile("[R]am")  

names = regex.sub("Rama",names)

print(names)

In [ ]:
## dividing num,alpha,special char
import re

re.sub("[A-Za-z]",",","ada 1231zxdq #@$@zxfsd312")

In [ ]:
re.sub("[^A-Za-z]"," ","ada 1231zxdq #@$@zxfsd312")

In [ ]:
## Remove white space

randstr = ''' 
My 
name 
is 
nikhil
'''
print(randstr)
regex = re.compile("\n")

randstr = regex.sub("",randstr)

print(randstr)

In [ ]:
## Number

import re

randstr = "12345"

print(len(re.findall("\d",randstr)))

print(re.search(r"\d{3}",randstr))

In [ ]:
num = "123 1234 12345 123456 1234567"

print(len(re.findall("\d{5,7}",num))) #gives max frequency in the given numbers

In [ ]:
## Phone number verification 

import re

#\w [a-zA-Z0-9]
#\w [^a-zA-Z0-9]


phn = "4669-5549-AA1212hhwjjwkq3"

if re.search("\d{3}-\d{3}-\w{6}",phn):
    
    print("it is a Pan No.")
    
else:
    print("its not a Pan No.")

In [ ]:
#Email Match 
    
import re

email = "nk@hyd.com md@.com @llo.com j@com"

print("EmailMatches:", (re.findall("[\w._%+-]{1,20}@[\w.-]{2,20}.[A-Za-z]{2,3}",email)))