# Multi Threding

In [ ]:
#Multi Threding
#----multithreading using sum of square---#
import time

def calc_square(numbers):
    print("calculate square numbers")
    for n in numbers:
        time.sleep(0.2)
        print('square:',n*n)

def calc_cube(numbers):
    print("calculate cube of numbers")
    for n in numbers:
        time.sleep(0.2)
        print('cube:',n*n*n)

In [ ]:
arr = [2,5,7,9]

t = time.time()        
calc_square(arr)

In [ ]:
calc_cube(arr)

In [ ]:
print("done in: ",time.time()-t)
print("completed my way to work!")

In [ ]:
import threading
t = time.time()

t1 = threading.Thread(target=calc_square, args=(arr,))
t2 = threading.Thread(target=calc_cube, args=(arr,))

In [ ]:
t1.start()
t2.start()

t1.join()
t2.join()

print("done in: ",time.time()-t)
print("completed my way to work!")

## lambda

In [1]:
# Defining the lambda function 

s = lambda x: x * x
s(12)

144

## map()

In [2]:
#map()
val = [1, 2, 3, 4, 5, 6]
list(map(lambda x: x * 2, val))

[2, 4, 6, 8, 10, 12]

In [5]:
#filter() -- used to check the condition
val1 = [1, 2, 3, 4, 5]

list(filter(lambda x: x % 2, val1))

[1, 3, 5]

## reduce()

In [6]:
from functools import reduce
reduce(lambda x, y: x * y, val1)

120

# MySQL DB connection with Python

### Connecting to MySQL

In [7]:
# importing package

# pip install mysql.connector

import mysql.connector as sql

#connecting to mysql database
mydb = sql.connect(
  host="localhost",
  user="cust1",
  passwd="cust1@123",
  auth_plugin='mysql_native_password'
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227545AAF48>

In [16]:
mycursor = mydb.cursor()

In [17]:
mycursor.execute("show databases")

In [10]:
for x in mycursor:
    print(x)

('emp',)
('employee',)
('information_schema',)
('market',)
('mydata',)
('mysql',)
('performance_schema',)
('sys',)
('test',)

In [18]:
mycursor

### creating database schema

In [3]:
#Create Database
mycursor.execute("CREATE DATABASE EMP")

### connectin to the database schema created

In [20]:
# Connecting to Database created
mydb = sql.connect(
  host="localhost",
  user="cust1",
  passwd="cust1@123",
  database = 'EMP',
  auth_plugin='mysql_native_password'
)
print(mydb)

mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000227545D3B08>

In [26]:
mycursor.execute("show tables")

for x in mycursor:
    print(x)

('finance',)
('hr',)

### creating table

In [22]:
#creating table
mycursor.execute("CREATE TABLE HR \
                 (Emp_no int primary key, Emp_name varchar(20), \
                 Emp_desig varchar(20), Emp_contact int)")

### Inserting data into the table

In [24]:
#Inseting values into Table
SQL_Insert = "INSERT INTO HR(Emp_no, Emp_name, Emp_desig, Emp_contact) \
                VALUES (%s,%s,%s,%s)"
                
SQL_Insert_values = [ ('1','abc','hr','123456'),
                      ('2','abc1','hr','12345678'),
                      ('3', 'abc2','hr','1234567')
                    ]
                
mycursor.executemany(SQL_Insert, SQL_Insert_values)

mydb.commit() #commit() is used to save changes to database

In [54]:
print(mycursor.rowcount,"rows were inserted")

3 rows were inserted

### Creating another table

In [25]:
#Creating another table Finance
mycursor.execute("CREATE TABLE FINANCE \
                 (Tax_No int primary key AUTO_INCREMENT, \
                 Emp_no int unique,\
                 Salary float)")

### Inserting data

In [27]:
#Inserting values into Finance Table
SQL_Insert_Finance = "INSERT INTO FINANCE(Emp_no,Salary) VALUES (%s,%s)" 

SQL_Insert_Values_Finance = [(1,10.5),
                             (2,11.5),
                             (3,12.5)
                            ]

mycursor.executemany(SQL_Insert_Finance,SQL_Insert_Values_Finance)

mydb.commit() #commit() is used to save changes

print(mycursor.rowcount,"rows were updated")

3 rows were updated

### Selecting data

In [28]:
# Condition -- where cluase or where conditions

SQL_where = "SELECT * from HR WHERE Emp_no > 1"

mycursor.execute(SQL_where)

SQL_where_results = mycursor.fetchall()

for x in SQL_where_results:
    print(x)

(2, 'abc1', 'hr', 12345678)
(3, 'abc2', 'hr', 1234567)

In [32]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.5)
(3, 3, 12.5)

In [33]:
# INNER Join Functions

SQL_join = "SELECT A.Emp_name, A.Emp_desig, B.Salary \
            from HR as A \
            Inner join FINANCE as B\
            on A.Emp_no = B.Tax_no"
            
mycursor.execute(SQL_join)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

('abc', 'hr', 10.5)
('abc1', 'hr', 11.5)
('abc2', 'hr', 12.5)

In [61]:
# OUTER Join Functions

SQL_join_cross = "SELECT *  \
            from HR \
            CROSS join FINANCE "
            
mycursor.execute(SQL_join_cross)

SQL_results = mycursor.fetchall()

for x in SQL_results:
    print(x)

(1, 'abc', 'hr', 123456, 1, 1, 10.5)
(2, 'abc1', 'hr', 12345678, 1, 1, 10.5)
(3, 'abc2', 'hr', 1234567, 1, 1, 10.5)
(1, 'abc', 'hr', 123456, 2, 2, 11.5)
(2, 'abc1', 'hr', 12345678, 2, 2, 11.5)
(3, 'abc2', 'hr', 1234567, 2, 2, 11.5)
(1, 'abc', 'hr', 123456, 3, 3, 12.5)
(2, 'abc1', 'hr', 12345678, 3, 3, 12.5)
(3, 'abc2', 'hr', 1234567, 3, 3, 12.5)

### Update the data

In [34]:
# Where Condition

SQL_salary = "UPDATE FINANCE SET Salary=11 WHERE Salary = 11.5"
mycursor.execute(SQL_salary)

mydb.commit()

In [35]:
# Where Condition

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

(2, 2, 11.0)
(3, 3, 12.5)

### Delete the data

In [38]:
# rollback()-- it won't allow the execution of command

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"  #deleting salary data if >=11.5
mycursor.execute(SQL_salary)

mydb.rollback()
mydb.commit()

In [39]:
# Testing of rollback

SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)

    
# We still get the record of salary>=11.5 as we have used rollback() earlier which stopped the deletion

(3, 3, 12.5)

In [40]:
# Without rollback

SQL_salary = "DELETE FROM FINANCE WHERE Salary >= 11.5"
mycursor.execute(SQL_salary)
mydb.commit()

In [41]:
SQL_where_finance = "SELECT * from FINANCE WHERE Salary >= 11.5"

mycursor.execute(SQL_where_finance)

SQL_where_results_finance = mycursor.fetchall()

for x in SQL_where_results_finance:
    print(x)